.creditContainer {
    @apply my-7.5 xl:mx-5 lg:mx-5;
}

.creditContent {
    @apply flex flex-row gap-5 justify-between;
}

.creditNoti {
    @apply w-3/5 flex flex-col gap-2 py-2 px-5 rounded-[16px] h-[150px] bg-white shadow-xl;
}

.title {
    @apply flex justify-end items-center ;
}

.titleText {
    @apply sm:text-30 mobile:text-[24px] font-bold text-primary text-center font-archivo;
}

.titleIcon {
    @apply text-primary text-24 flex items-center;
}

.detailNoti {
    @apply overflow-y-scroll pr-4;
}

.row {
    @apply border-b-[1px] flex flex-row gap-x-5 items-start justify-between;
}

.content {
    @apply w-80 flex justify-start;
}

.quantity {
    @apply flex flex-row items-center justify-between;
}

.symbol {
    @apply text-sm w-4 font-bold text-center;
}

.money {
    @apply font-semibold;
}

.icon {
    @apply ml-1 flex items-center text-orangeBtn;
}

.creditCurrent {
    @apply w-2/5 rounded-[16px] py-2 px-3 bg-white shadow-xl;
}

.creditCurrentRow {
    @apply flex  items-center gap-3 justify-center;
}

.creditAmount {
    @apply text-30 font-semibold;
}

.creditIcon {
    @apply text-30 flex items-center text-orangeBtn;
}

.creditBtn {
    @apply text-right mt-2 w-full;
}

.rootButton {
    @apply bg-orangeBtn hover:bg-darkBlue;
}

.day {
    &[data-in-range] {
        background-color: #DCE4F5;
        color: black;
    }
    &[data-selected] {
        background-color: #B9C7E2;
        color: black;
    }
}

.outer{
    @apply grid grid-cols-12 gap-x-3 gap-y-1
}

.segment{
    @apply col-span-12 flex flex-col justify-center rounded-[16px] p-5 bg-white shadow-xl
}